<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean  id="propertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath*:context.proterties"/>
    </bean>

    <bean id="myService" class="MyServiceImpl" init-method="initMethod">
        <property name="name" value="${service.name}"/>
    </bean>

    <bean id="son" class="cap1.parent.Son" parent="father" init-method="toTxt">
        <property name="version" value="2.0"/>
        <property name="name" value="son"/>
    </bean>

    <bean id="father" class="cap1.parent.Father" abstract="true" init-method="toTxt">
        <property name="name" value="${service.name}"/>
        <property name="version" value="1.0"/>
    </bean>

    <!--BeanPostProcessor 在 bean 创建前后执行-->
    <bean class="cap1.processors.InstantiationTracingBeanPostProcessor"/>
    <!-- 其接口实现方法在 bean 创建之前 初始化配置文件读取之后执行-->
    <bean id="myBeanFactoryPostProcessor" class="cap1.processors.MyBeanFactoryPostProcessor" />

    <!--国际化-->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="GBK" />
        <property name="fallbackToSystemLocale" value="false" />
        <property name="cacheMillis" value="3600" />
    </bean>


    <!-- spring 对事件的管理-->
    <bean id="emailService" class="cap1.applicationEvent.EmailService">
        <property name="blackList">
            <list>
                <value>known.spammer@example.org</value>
                <value>known.hacker@example.org</value>
                <value>john.doe@example.org</value>
            </list>
        </property>
    </bean>

    <bean id="blackListNotifier" class="cap1.applicationEvent.BlackListNotifier">
        <property name="notificationAddress" value="blacklist@example.org"/>
    </bean>


    <!--配置多元化资源文件-->
    <bean id="propertiesUtils" class="cap1.resourceLoader.PropertiesUtils">
        <property name="resource" value="classpath:app.properties"/>
    </bean>

    <!--ApplicationContextAware 配置context-->
    <bean id="applicationContextAwareT" class="cap1.aware.ApplicationContextAwareT" />
    <bean id="environmentAwareT" class="cap1.aware.EnvironmentAwareT"/>
    <bean id="messageSourceAwareT" class="cap1.aware.MessageSourceAwareT"/>
</beans>